{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% for habit in habits %}
    <div class="habit-row">
      <div class="card">
        <div class="card-title">{{habit.habit_action}}</div>
        <div class="card-goal">{{habit.goal_qty}}</div>
        <div class="card-unit">{{habit.unit}}</div>
        <div class="card-actions">
    
            <div class="card-record"><a href="{% url 'record_daily' %}">Record</a></div>
        </div>
      </div>
    </div>
        {% endfor %}
  </div>    
{% endblock content %}