{% extends 'base.html' %}

{% block content %}


<div class="topnav">
  {% if user.is_authenticated %} 
    <a class="active" href="{% url 'habit_list' %}">All Habits</a>
    <div><a href="{% url 'new_habit_goal' %}">Add NEW Habit Goal to Track</a></div>
    </div>
    <div class="user">
  <div>Logged in as: {{ user }}</a></div>
  <div><a href='/accounts/logout'>Log Out</a></div>
    {% else %}
    <div><a href="{% url 'auth_login' %}">Login</a></div>
    <div><a href="{% url 'registration_register' %}">Create Account</a></div>
    {% endif %}
    <div class="admin"><a href="{% url 'admin:index' %}">Admin</a></div>
</div>
<div class="body-content">
</div>
{% endblock %}